# VSCode settings
.vscode/

# Compiled code
*.out

# Data files
*.dat

# Python caches
__pycache__/
*.pyc

# Videos
*.mp4

# C++/Tetris executable
tetris

# C/Triangle-Image-Evolution executable
generate
