.homepage-main {
  display: flex !important;
  align-items: center;
  justify-content: center;
  width: 100vh;
  height: 100vh;
}

.homepage-time {
  width: auto;
  height: auto;
}

.homepage-hello {
  width: auto;
  height: auto;
  text-align: center;
}
